.mailNotice {overflow: hidden; border: solid red 1px; width: 0px}
.xRight {width: 70%; transition: width 5s; webkit-transition: width 5s; moz-transition: width 5s;}
.xLeft {width: 0%; transition: width 5s; webkit-transition: width 5s; moz-transition: width 5s;}
